@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
margin:0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins' , sans-serif;
}

body {
    background: hsl(0, 78%, 46%);
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px ;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

#saksilogo {
    height:auto;
    width: 30%;
}
.navigation {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.navigation a{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    padding: 3px 15px;
    border-radius: 20px;
    margin: 1 10px;
    font-size: small;
    font-weight: 600;
    width: 20%;
    margin-right: 20px;
}
.navigation a:hover,
.navigation a.active {
    background: #5e9763;
    color: #f9f9f9;
}
.parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#text {
    position: absolute;
    font-size: 4em;
    text-align: center;
    width: 80%;
    font-weight: 800;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);

}
.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #59b461;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #ffff;
    margin-bottom: 10px;

}

.sec p{
    font-size: 1em;
    color: #ffff;
    font-weight: 300;

}

.card{
    background-color: rgb(255, 247, 0);
}